/***********************************************
                NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63
light brown #C9A689
dark brown  #7C593C
light grey  #d4d4d4
dark grey   #222

                DEFAULTS
***********************************************/
$color-light_blue:  #C7F7FF;
$color-lightmed_blue:   #89C0C9;
$color-lightdark_blue:   #3a5E63;
$color-lightlight_brown: #C9A689;
$color-lightdark_brown:  #7C593C;
$color-lightlight_grey:  #d4d4d4;
$color-lightdark_grey:   #222;
$color-white:            #fff;

$font-sans-serif: "Josefin Sans", "Trebuchet MS", Helvetica, sans-serif; 
  
$font-serif:Cardo, "Palatino Linotype", "Book Antiqua", Palatino, serif; 
